/* NavBar.css */
.navbar {
  background-color: #3243c5;
  border-bottom: 2px solid #000;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-right: 20px;
}

.links a:hover {
  color: #ff0000;
}

/* Pokedex.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Container styles */
.pokedex-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Search container styles */
.search-container {
  display: flex;
  margin-bottom: 20px;
}

/* Search input styles */
.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Search button styles */
.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #f37021;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Pokemon details container styles */
.pokemon-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Pokemon name styles */
.pokemon-name {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Pokemon image styles */
.pokemon-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}


/* Styles for the container */
.pokemondata {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Styles for the heading */
.pokemondata h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* Styles for the image */
.pokemondata img {
  max-width: 200px;
  height: auto;
  margin-bottom: 15px;
}

/* Styles for the details */
.pokemondata p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Styles for the abilities list */
.pokemondata ul {
  list-style: none;
  padding: 0;
}

.pokemondata li {
  margin-bottom: 3px;
  font-size: 14px;
  text-transform: capitalize;
}

.pokeball {
  position: absolute;
  top: 10px; 
  right: 10px; 
  width: 40px; 
  height: 40px; 
}

.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 10px; 
}

.pokemonCard{
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

